.button1{
    display: flex;
    width: fit-content;
    max-width: 130px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 4px;
    margin-left: 0px;
    position: relative;
}
.textcss{
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size:11px;
    margin-left:5px;
    height: 100%;
    margin-top: 3px;
    margin-right: 0px;
}
.image {
    margin-left: 0px;
    height:17%;
    width: 17%;
}
.underline2 {
    width: 0px;
    transition: width 1s;
}
.button1:hover + .underline2 {
    height: 2px;
    width: 130px;
    background-color: #ffc420; 
}
