.searchBar  {
    display: flex;
    background-color: #393f4f;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 25px;
    padding-left: 20px;
    border-radius: 35px;
    width: 260px;
    vertical-align: middle;
}

.barColor {
    background-color: transparent;
    border: 0px;
    margin-left: 10px;
}
.barColor::placeholder{
    color: lightgrey;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
}
.barColor:focus{
    outline: none;
    text-transform: uppercase;
    color: lightgrey;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: bold;
}
.barColor[type=text]{
    color: lightgrey;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear { display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal { display: none; width : 0; height: 0; }
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }